{% if _cfg("public-income") == "yes" %}
<div class="container" style="padding-top: 3rem">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      {% set total_sum = onetime_sum + recurring_sum + patreon_sum + lp_sum %}
      {% set total_count = onetime_count + recurring_count + patreon_count + lp_count %}
      {% if _cfg("goal") %}
      {% set goal = int(_cfg("goal")) %}

      {% if goal < total_sum %}
      {# Make the graph still make sense if we exceeded the goal #}
      {% set adjusted_goal = total_sum %}
      {% else %}
      {% set adjusted_goal = goal %}
      {% endif %}

      {% set recurring_progress = recurring_sum / adjusted_goal %}
      {% set onetime_progress = onetime_sum / adjusted_goal %}
      {% set patreon_progress = patreon_sum / adjusted_goal %}
      {% set lp_progress = lp_sum / adjusted_goal %}
      {% set progress = total_sum / goal %}
      <div class="progress" style="height: 3rem">
        <div
          class="progress-bar progress-bar-primary"
          style="width: {{ recurring_progress * 100 }}%; line-height: 2.5"
        >
          <span>{{ currency.amount("{:.0f}".format(recurring_sum / 100)) }}</span>
        </div>

        <div
          class="progress-bar progress-bar-success"
          style="width: {{ onetime_progress * 100 }}%; line-height: 2.5"
        >
          <span>{{ currency.amount("{:.0f}".format(onetime_sum / 100)) }}</span>
        </div>

        <div
          class="progress-bar progress-bar-info"
          style="width: {{ patreon_progress * 100 }}%; line-height: 2.5"
        >
          <span>{{ currency.amount("{:.0f}".format(patreon_sum / 100)) }}</span>
        </div>

        <div
          class="progress-bar progress-bar-warning"
          style="width: {{ lp_progress * 100 }}%; line-height: 2.5"
        >
          <span>{{ currency.amount("{:.0f}".format(lp_sum / 100)) }}</span>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p>
        {%trans trimmed count=recurring_count, amount=currency.amount("{:.2f}".format(recurring_sum / 100)), domain=domain %}
	{{ amount }}/mo via <strong class="text-primary">{{ domain }}</strong> ({{ count }} supporter)
	{%pluralize%}
	{{ amount }}/mo via <strong class="text-primary">{{ domain }}</strong> ({{ count }} supporters)
	{%endtrans%}
      </p>
      <p>
        {%trans trimmed count=onetime_count, amount=currency.amount("{:.2f}".format(onetime_sum / 100)), domain=domain %}
	{{ amount }} from single donations <small>(last 30 days)</small> via <strong class="text-primary">{{ domain }}</strong> ({{ count }} supporter)
	{%pluralize%}
	{{ amount }} from single donations <small>(last 30 days)</small> via <strong class="text-primary">{{ domain }}</strong> ({{ count }} supporters)
	{%endtrans%}
      </p>
      <p>
      {% if patreon_count %}
      <p>
        {%trans trimmed count=patreon_count, amount=currency.amount("{:.2f}".format(patreon_sum / 100)), campaign=_cfg("patreon-campaign") %}
	{{ amount }}/mo via <strong><a href="https://patreon.com/{{ campaign }}" style="color: #51acc7"> Patreon <i class="glyphicon glyphicon-share"></i> </a></strong> ({{ count }} supporter)
	{%pluralize%}
	{{ amount }}/mo via <strong><a href="https://patreon.com/{{ campaign }}" style="color: #51acc7"> Patreon <i class="glyphicon glyphicon-share"></i> </a></strong> ({{ count }} supporters)
	{%endtrans%}
      </p>
      {% endif %}
      {% if lp_count %}
      <p>
        {%trans trimmed count=lp_count, amount=currency.amount("{:.2f}".format(lp_sum / 100)), campaign=_cfg("liberapay-campaign") %}
	{{ amount }}/mo via <strong><a class="text-warning" href="https://liberapay.com/{{ campaign }}"> Liberapay <i class="glyphicon glyphicon-share"></i> </a></strong> ({{ count }} supporter)
	{%pluralize%}
	{{ amount }}/mo via <strong><a class="text-warning" href="https://liberapay.com/{{ campaign }}"> Liberapay <i class="glyphicon glyphicon-share"></i> </a></strong> ({{ count }} supporters)
	{%endtrans%}
      </p>
      {% endif %}
      {% if goal %}
      <p class="{{ "text-center" if not patreon_sum else "" }}">
        {%trans trimmed amount=currency.amount("{:.2f}".format(total_sum / 100)), goal=currency.amount("{:.2f}".format(goal / 100)) %}
        {{ amount }}/mo of {{ goal }}/mo goal
	{%endtrans%}
      </p>
      {% else %}
      <p>
        {%trans trimmed count=total_count, amount=currency.amount("{:.2f}".format(total_sum / 100))  %}
	Supported with {{ amount }} from {{ count }} supporter!
	{%pluralize%}
	Supported with {{ amount }} from {{ count }} supporters!
	{%endtrans%}
      </p>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {% include "goal-summary.html" %}
    </div>
  </div>
</div>
{% endif %}
