{% extends "layout.html" %}
{% block scripts %}
<script>
window.stripe_key = "{{ _cfg("stripe-publish") }}";
window.avatar = "{{ avatar }}";
window.your_name = "{{ _cfg("your-name") }}";
window.default_amount = {{ _cfg("default-amount") }};
window.default_type = "{{ _cfg("default-type") }}";

// Array used for translation of index.js sentences. See contrib/fr/overrides/index.html for example use
const i18n = {
    "Monthly Donation": "{% trans %}Monthly Donation{% endtrans %}",
    "One-time Donation": "{% trans %}One-time Donation{% endtrans %}",
    "Donate ": "{% trans %}Donate {% endtrans %}",
    "Submitting...": "{% trans %}Submitting...{% endtrans %}",
    "Donate": "{% trans %}Donate{% endtrans %}"
};
// End of translation of index.js

const currency = "{{ _cfg("currency") }}";

{% if user %}
window.email = "{{user.email}}";
{% endif %}
</script>
<script src="//checkout.stripe.com/checkout.js"></script>
<script src="static/index.js"></script>
{% endblock %}
{% block body %} 
<div class="well">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <img
                class="pull-right"
                src="{{ avatar }}?s=128"
                style="border-radius: 5px; margin-left: 1rem"
                width="110" height="" />
              <h1>{% trans %}Donate to{% endtrans %} {{ _cfg("your-name") }}</h1>
              {% include "summary.html" %}
            </div>
        </div>
    </div>
</div>
<noscript>
    <div class="container">
        <div class="alert alert-danger">
	<p>{% trans trimmed %}This page requires Javascript. It's necessary to send your credit card number to
	<a href="https://stripe.com/">Stripe</a> directly, so you don't need to trust me with it.{% endtrans %}</p>
        </div>
    </div>
</noscript>
<div class="container text-center hidden" id="thanks">
    {% include "post-donation-message.html" %}
    <form id="new-donor-password" class="hidden" action="{{root}}/password-reset" method="POST">
	<p>{% trans %}Set a password now if you want to manage your donations later:{% endtrans %}</p>
	<input type="password" class="form-control" placeholder="{%trans%}Password{%endtrans%}" name="password" />
        <input type="hidden" name="token" id="reset-token" />
	<button class="btn btn-primary btn-sm">{%trans%}Submit{%endtrans%}</button>
    </form>
</div>
<div class="container text-center" id="donation-stuff">
  <h3>{% trans %}How much?{% endtrans %}</h3>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="btn-group btn-group-justified amounts" role="group" aria-label="...">
        {% for amt in _cfg("default-amounts").split(" ") %}
        <div class="btn-group" role="group">
          <button data-amount="{{ amt }}" type="button"
            class="btn btn-default {{"active" if _cfg("default-amount") == amt else ""}}"
            >{{ currency.amount(amt) }}</button>
        </div>
        {% endfor %}
        <div class="btn-group" role="group">
	 <button data-amount="custom" type="button" class="btn btn-default">{%trans%}Custom{%endtrans%}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row hidden" id="custom-amount" style="margin-top: 20px;">
    <div class="col-md-4 col-md-offset-4">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">{{ currency.symbol }}</span>
          <input id="custom-amount-text" type="text" value="13.12"
              class="form-control" placeholder="{%trans%}Amount{%endtrans%}" />
        </div>
      </div>
    </div>
  </div>
  <h3>{%trans%}How often?{%endtrans%}</h3>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="form-group">
        <div class="btn-group btn-group-justified frequencies" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <button data-frequency="once" type="button"
              class="btn btn-default {{"active" if _cfg("default-type")=="once" else ""}}"
            >{%trans%}Once{%endtrans%}</button>
          </div>
          <div class="btn-group" role="group">
            <button data-frequency="monthly" type="button"
              class="btn btn-default {{"active" if _cfg("default-type")=="monthly" else ""}}"
            >{%trans%}Monthly{%endtrans%}</button>
          </div>
        </div>
     </div>
   </div>
 </div>
    {% if len(projects) > 1 %}
    <h3>{%trans%}What project?{%endtrans%}</h3>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
                <select id="project" name="project" class="form-control">
                    <option value="null"
                        {{ "selected" if selected_project == None else "" }}>{%trans%}None in particular{%endtrans%}</option>
                    {% for project in projects %}
                    <option value="{{ project.id }}"
                        {{ "selected" if selected_project == project.id else "" }}>{{ project.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
                <input type="text" id="comments" class="form-control" placeholder="{%trans%}Any comments?{%endtrans%}" maxlength="512" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="alert alert-danger hidden" id="errors">
                <p></p>
            </div>
            <button class="btn btn-block btn-success" id="donate-button">{%trans%}Donate{%endtrans%}</button>
        </div>
    </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2" style="padding-top: 1rem">
      <p>{% include "terms.html" %}</p>
    </div>
  </div>
</div>
{% include "goal.html" %}
<hr />
<div class="container text-center">
    {% if not user %}
    <p>
            {%trans trimmed%}Been here before? <strong><a href="login">Log in</a></strong> to view your donation
            history, edit recurring donations, and so on.{%endtrans%}
    </p>
    {% elif user.admin %}
    <p>
            {%trans%}Access <strong><a href="admin">admin panel</a></strong>.{%endtrans%}
    </p>
    {% else %}
    <p>
            {%trans trimmed%}Access <strong><a href="panel">your panel</a></strong> to view your donation
            history, edit recurring donations, and so on.{%endtrans%}
    </p>
    {% endif %}
    <p>
        <small class="text-muted">
            {%trans%}Powered by <a href="https://gitlab.kokakiwi.net/transposees/transpay">Trans Pay</a>{%endtrans%} - {{ version }}
        </small>
    </p>
</div>
{% endblock %}
