<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="static/icon.png" type="image/png" />
        {% block title %}
        <title>{%trans%}Donate to{%endtrans%} {{_cfg("your-name")}}</title>
        {% endblock %}
        <link rel="stylesheet" href="/static/bootstrap.min.css" />
        {% block styles %}{% endblock %}
    </head>
    <body>
        {% block body %}
        <div class="container">
            {% block container %}
            {% endblock %}
        </div>
        {% endblock %}
        <script src="/static/jquery.min.js"></script>
        <script src="/static/bootstrap.min.js"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
